.department{
   

   .inner{

   }
}

/*tablet --------------------------------------------*/
@media screen and (max-width:$tablet){
   .department{ 
      .inner{
         .division{ height:60vw;  }   
      }
   }
}

/*mobile --------------------------------------------*/
@media screen and (max-width:$mobile){
   .department{ 
      .inner{
         .division{ 
            height:auto;
            background:none; 
            
            .div_tree{
               position:relative; 
               top:0; 
               opacity:1; 
            }
         }   
      }
   }
}